[submodule "cmake"]
	path = external/cmake
	url = git@github.com:nacitar/cmake.git
[submodule "external/nx-core"]
	path = external/nx-core
	url = git@github.com:nacitar/nx-core.git
[submodule "external/3rdparty/googletest"]
	path = external/3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "external/3rdparty/google-styleguide"]
	path = external/3rdparty/google-styleguide
	url = https://github.com/google/styleguide.git
[submodule "external/mingw-std-threads"]
	path = external/mingw-std-threads
	url = https://github.com/meganz/mingw-std-threads.git
